body {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

::-moz-selection {
  color: #fff;
  background: #f80;
}

::selection {
  color: #fff;
  background: #f80;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

.main_container {
  -ms-grid-columns: 280px auto;
  grid-template-columns: 280px auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.vertically_align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
}

._3col {
  -ms-grid-columns: auto 15px auto 15px auto;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 15px;
}

._2col {
  -ms-grid-columns: (50%) [2];
  grid-template-columns: repeat(2, 50%);
}

._3col-fixed {
  -ms-grid-columns: calc(33.33% - 10px) 15px calc(33.33% - 10px) 15px
    calc(33.33% - 10px);
  grid-template-columns: repeat(3, calc(33.33% - 10px));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 15px;
}

ul {
  padding: 0;
}

button,
.button {
  cursor: pointer;
}

.button-container {
  width: 100%;
  display: block;
}

.align-right {
  text-align: right;
}

.button {
  background: #f80;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  margin-bottom: 30px;
  transform: translateZ(0);
}
.button.bgorange {
  background: #fff !important;
  color: #333 !important;
}

.button i {
  margin-left: 10px;
  position: relative;
  top: 1px;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  transform: translateZ(0);
}

.button:hover i {
  margin-left: 15px;
}
