.hero {
  height: 120px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero .bg-container {
  background: url("anna-pelzer-472429-unsplash.jpg") no-repeat center / cover;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hero h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 2.7rem;
  font-weight: 700;
}

.hero .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.hero .container {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}
